<div class="cadastro-usuario">
  <h2>Cadastro de Usuário</h2>
  <form [formGroup]="formRegister" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="nome">Nome do usuário:</label>
      <input
        type="text"
        id="nome"
        formControlName="username"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input
        type="password"
        id="senha"
        formControlName="password"
        class="form-control"
      />
    </div>
    <button type="submit" [disabled]="!formRegister.valid" class="btn btn-primary">Cadastrar</button>
  </form>
  <button routerLink="/login" class="btn btn-secondary mt-2">Voltar para o Login</button>
</div>
