<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="texto">Texto:</label>
    <textarea
      id="texto"
      name="texto"
      formControlName="texto"
      class="form-control"
    ></textarea>
  </div>
  <div class="form-group">
    <label>Imagens:</label>
    <input
      type="file"
      name="imagens"
      (change)="onImageSelect($event)"
      multiple
    />
    <div
      *ngFor="let imagem of imagens.controls; let i = index"
      class="image-preview"
    >
      <img [src]="imagem.value" alt="Imagem" (click)="removeImage(i)" />
    </div>
  </div>
  <div class="form-group">
    <label for="links">Links:</label>
    <input
      type="text"
      id="links"
      name="links"
      formControlName="links"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
