<div class="login-form">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
      Login
    </button>
  </form>
  <button routerLink="/register" class="btn btn-secondary">
    Criar Usuário
  </button>
</div>
